apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: vault-config

commonLabels:
  app: vault
  managedBy: argocd
  managementCodeGroup: chrismlee42-dev
  managementCodeProject: vault-config

namespace: vault

resources:
  - httproute.yaml
  - namespace.yaml
